<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/styles.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav>
      <a href="/">All Users</a>
      <a href="/unemployed">Unemployed</a>
      <a href="/employed">Employed</a>
    </nav>

    <div class="indexContainer">
      {{#users}}
      <div class="robot">
        <img src="{{avatar}}" alt="">
        <h3>{{name}}</h3>
        <p>{{job}}</p>

      </div>
      {{/users}}
    </div>
  </body>
</html>
