<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/styles.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav>
      <a href="/">All Users</a>
      <a href="/unemployed">Unemployed</a>
      <a href="/employed">Employed</a>
    </nav>
    <h1>Unemployed Robots</h1>
     <div class="unemployed">
       {{#users}}
       <li>{{name}}</li>
       {{/users}}
     </div>

  </body>
</html>
