<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/styles.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav><a href="/">All Users</a></nav>
    Unemployed page bruh
  </body>
</html>
